*{margin: 0;padding: 0;font-family: lato;box-sizing: border-box;}

.fp-tableCell{vertical-align: bottom !important;}
.sombra{box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) !important;}
.active{box-shadow: 0px 2px 0px 0px #CD4C42 ;}

/*******MENU RESPONSIVE*********/
.btnResponsive{display: none;}
.menuResponsiveMainContainer{background: transparent;position: fixed;width: 100%;height: 100%;z-index: 6;display: flex;align-items: center;justify-content: flex-end;left: 100%;}
.menuResponsiveContainer{display: flex;align-items: center;justify-content: center;position: relative;width: 100%;height: 100%;background: #333;flex-direction: column;}
.menuResponsiveContainer a{color: white;text-decoration: none;font-size: 2rem;margin-bottom: 1rem;}
.redesResponsive{display: flex;align-items: center;justify-content: space-between;width: 70%;margin-top: 2rem;}
.redesResponsive a{display: flex;align-items: center;justify-content: center;border: 2px solid white;border-radius: 50%;width: 4rem;height: 4rem;}
.redesResponsive i{font-size: 1.5rem;}
.btnClose{cursor: pointer;position: absolute;top: 1rem;right: 1.5rem;font-size: 3rem;color: white;}

/****HOME****/
.homeMainContainer{display: flex;align-items: center;justify-content: center;/*border: 1px dashed red;*/ width: 100%;height: 90%;flex-direction: column;}
.homeContainer{height: 100%;width: 100%;/*border: 1px dashed green;*/display: flex;align-items: center;justify-content: flex-end;}
.homeContainer h1{font-size: 3rem;}
.homeContainer p{font-size: 1.5rem;}
.homeContainer .left{/*border: 1px dashed blue;*/height: 100%;display: flex;align-items: flex-start;justify-content: center;flex-direction: column;width: 30%;}
.homeContainer .right{/*border: 1px dashed blue;*/height: 100%;display: flex;align-items: flex-end;justify-content: center;width: 65%;}
.homeContainer .right img{width: 66%;}

/****HEADER*****/
header{width: 100%;/*border: 1px dashed blue;*/display: flex;align-items: center;justify-content: center;height: 10%;position: fixed;z-index: 5;background: #f2f2f2;transition: .8s all;}
.headerContainer{display: flex;align-items: center;justify-content: space-between;width: 90%;}
#links{display: flex;align-items: center;justify-content: space-around;width: 40%;overflow: hidden;height: 3rem;}
#links a{text-decoration: none;color: black;transition: .5s all;}
.contacUsLink{position: relative;bottom: -4rem;background: #CD4C42;color: white !important;width: 15%;min-width: 6rem;text-align: center;border-radius: 2rem;
	padding: .3rem 0;transition: 0s all;}


	/***SERVICES****/
.servicesMainContainer{display: flex;align-items: center;justify-content: center;flex-direction: column;width: 100%;height: 90%;/*border: 1px dashed red;*/margin-top: 4rem;}
.servicesTittle{display: flex;align-items: center;justify-content: center;height: 15%;color: #CD4C42;font-size: 1.5rem; opacity: 0;}
.servicesContainer{/*border: 1px dashed purple;*/width: 100%;flex: 1;display: flex;align-items: flex-start;justify-content: center;padding-top: 2rem;}
.services{display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;width: 90%;/*border: 1px dashed blue;*/}
.serviceComponent{/*border: 1px dashed purple;*/width: calc((100% - 3rem) / 2);padding: .5rem 1.5rem 1.5rem .5rem;margin-bottom: 1.5rem;background: white;box-shadow: 0px 0px 8px 1px rgba(0,0,0,.2);position: relative;top: 3rem;
	opacity: 0;}

	/*SERVICES COMPONENT*/
.service{display: flex;align-items: flex-start;justify-content: space-between;width: 100%;/*border: 1px dashed green;*/}
.serviceImg{width: 30%;/*border: 1px dashed red;*/display: flex;align-items: center;justify-content: center;align-self: center;}
.serviceImg img{width: 80%;}
.serviceContent{display: flex;align-items: flex-start;justify-content: center;flex-direction: column;width: 65%;}
.serviceTittle{margin: 1rem 0;}
.serviceText{text-align: justify;}
/**/

/*******PLANES***********/
.planMainContainer{display: flex;align-items: center;justify-content: center;flex-direction: column;width: 100%;height: 90%;overflow: hidden;margin-top: 4rem;}
.planesTittle{height: 6rem;/*border: 1px dashed purple;*/display: flex;align-items: center;justify-content: center;color: #CD4C42;font-size: 1.5rem;opacity: 0;}
.planesContainer{flex: 1;width: 100%;display: flex;align-items: flex-start;justify-content: center;padding-top: 1rem;/*border: 1px dashed red;*/}
.planes{display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;width: 90%;margin-bottom: 3rem;/*border: 1px dashed green;*/}
.planesComponent{/*border: 1px dashed yellow;*/width: calc((100% - 4rem) / 3);padding: 1.5rem 0.5rem 2rem 2rem;background: white;box-shadow: 0px 0px 8px 1px rgba(0,0,0,.2);transition: .7s all;position: relative;}
.pcLeft{top: 5rem; left: -7rem; opacity: 0;}
.pcMiddle{top: 7rem; opacity: 0;}
.pcRight{top: 5rem; left: 7rem; opacity: 0;}
.planesComponent>img{position: absolute;top: -4px;right: -4px;}
.planesComponent:hover {box-shadow: 0px 0px 0px 3px #CD4C42;}
.planesComponent:hover .planBtn a{background: #CD4C42;}

/*PLAN COMPONENT*/
.plan{width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.planTittle{margin-bottom: 1rem;}
.planTittle h4{font-size: 1.5rem;font-weight: lighter;}
.planPrice{display: flex;align-items: center;justify-content: center}
.planPrice span:first-child{align-self: flex-start;}
.planPrice span:nth-child(2){font-size: 3rem;margin: 0 .3rem;font-weight: lighter;color: #CD4C42;}
.planPrice span:last-child{align-self: flex-end;}
.planList{align-self: flex-start;margin: 0rem 0 1rem 0;padding: 1.5rem;}
.planList li{list-style: none;text-indent: -1.27rem;text-align: justify;}
.planList li::before{content: '✔';margin-right: .5rem;color: #CD4C42;}
.planBtn a{transition: .7s all;text-decoration: none; color: white;background: #515E61;border-radius: 2rem;padding: .5rem 2rem;}
/**/


/******FOOTER******/
.footerMainContainer{display: flex;align-items: center;justify-content: center;background: #000;margin-top: 3rem;padding: 3rem;}
.footerMainContainer .left{width: 40%;/*border: 1px dashed white;*/display: flex;align-items: center;justify-content: center;flex-direction: column;}
.footerLogo{margin-bottom: 3rem;text-align: center;}
.footerLogo p:last-child{text-align: justify;margin-top: 1rem;}
.redes{display: flex;align-items: center;justify-content: space-between;width: 40%;}
.redes i{font-size: 1rem;transition: .5s all;}
.redes a{display: flex;align-items: center;justify-content: center;border: 1px solid white; border-radius: 50%;width: 2.5rem;height: 2.5rem;text-decoration: none;transition: .5s all;}
.redes a:hover i{color: #000;}
.redes a:hover{background: #fff;}
.footerMainContainer .right{width: 50%;/*border: 1px dashed white;*/display: flex;align-items: center;justify-content: center;}
form{display: flex;align-items: center;justify-content: center;flex-direction: column;width: 70%;}
.input{display: flex;align-items: flex-start;justify-content: center;flex-direction: column;margin-bottom: 1.2rem;width: 100%;}
.input input{font-size: 1rem;padding: .3rem .5rem;margin: .3rem 0 0 0;width: 100%;}
form button{border: 1px solid white;background: #000;color: white;border-radius: 2rem;width: 40%;padding: .5rem 0;cursor: pointer;margin-top: 1.5rem;transition: .5s all;}
form button:hover{background: #fff;color: #000;}
.footerMainContainer p, .footerMainContainer i, .footerMainContainer label{color: rgba(255,255,255,.7);}

/********************************************************************************************/
@media screen and (min-width: 1501px) {
	html{font-size: 22px;}
} 
/********************************************************************************************/
@media screen and (max-width: 1500px) {
	html{font-size: 18px;}
} 
/********************************************************************************************/
@media screen and (max-width: 1367px) {
	html{font-size: 16px;}
} 
/********************************************************************************************/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (max-width:1024px){
	html{font-size: 14px;}
}
/********************************************************************************************/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (max-width:768px) {
	html{font-size: 16px;}
	.homeContainer h1{text-align: center;}
	#links{display: none;}
	.btnResponsive{display: flex;align-items: center;justify-content: center;cursor: pointer;}
	.btnResponsive{font-size: 2rem;}
	.homeContainer{flex-direction: column;}
	.homeContainer .left{width: 90%;align-items:center;height: 40%}
	.homeContainer .right{width: 100%;height: 60%}
	.homeContainer .right img{width: 75%;}
	.servicesMainContainer{margin-top: 4rem;}
	.serviceComponent{width: 100%;}
	.planMainContainer{margin-top: 4rem;}
	.planes{flex-direction: column;}
	.planesComponent{width: 80%;margin-bottom: 3rem;}
	.footerMainContainer{flex-direction: column;}
	.footerMainContainer .left{width: 80%;}
	.footerMainContainer .right{width: 90%;margin-top: 3rem;}
	form{width: 100%;}
	form button{width: 70%;padding: 1rem 0;font-size: 1.2rem;}
	.input input{padding: .7rem}
}
/********************************************************************************************/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (max-width:640px) {

}
/********************************************************************************************/
@media (max-width:480px) {
	html{font-size: 10px;}
	.footerMainContainer .left{width: 90%;}
	.redes{width: 60%;}
	.homeContainer .right img{width: 90%;}
}
/********************************************************************************************/